[Unit]
Description=Proxmox VE Exporter (bigtcze/pve-exporter)
After=network.target

[Service]
Type=simple
User={{ pve_exporter_user }}
Group={{ pve_exporter_group }}
ExecStart={{ pve_exporter_bin }} -config {{ pve_exporter_config_dir }}/pve-exporter.yml
Restart=on-failure
RestartSec=5

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ReadOnlyPaths={{ pve_exporter_config_dir }}

[Install]
WantedBy=multi-user.target
