[Unit]
Description=Prometheus PVE Exporter
After=network.target

[Service]
Type=simple
User={{ pve_exporter_user }}
Group={{ pve_exporter_group }}
ExecStart=/usr/local/bin/pve_exporter \
    --config.file {{ pve_exporter_config_dir }}/pve-exporter.yml \
    --web.listen-address 0.0.0.0:{{ pve_exporter_listen_port }}
Restart=on-failure
RestartSec=5

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
ReadOnlyPaths={{ pve_exporter_config_dir }}

[Install]
WantedBy=multi-user.target
