[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false
vars_plugins_enabled = host_group_vars,community.sops.sops

[privilege_escalation]
become = false
